.App {
  text-align: center;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding-right: 20px;
}

.appHeader {
  justify-content: end;
  color: aliceblue;
}

.headerUser {
  min-width: 200px;
}

.login {
  height: 100%;
}

